@using WebAppForGame.ViewModels
@model DashboardViewModel
@{
    Layout = "_Layout";
    ViewBag.currentLayer = 0;
}

    <main>
        <div class="header">
            <div class="left">
                <h1>Панель мониторинга</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="/Admin">
                            Admin
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Insights -->
        <ul class="insights">
            <li>
                <i class='bx bx-chalkboard'></i>
                <span class="info">
                    <h3>
                        @Model.MaxPoints
                    </h3>
                    <p>Рекорд очков</p>
                </span>
            </li>
            <li>
                <i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>
                        @Model.TotalLoginPerDay
                    </h3>
                    <p>Входов за день</p>
                </span>
            </li>
            <li>
                <i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        @Model.TotalGameOversPerDay
                    </h3>
                    <p>Прохождений за день</p>
                </span>
            </li>
            <li>
                <i class='bx bx-dollar-circle'></i>
                <span class="info">
                    <h3>
                        ₽@Model.TotalPaid
                    </h3>
                    <p>Всего продаж</p>
                </span>
            </li>
        </ul>
        <!-- End of Insights -->

        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Заказы</h3>
                    <i class='bx bx-filter'></i>
                    <i class='bx bx-search'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>Дата заказа</th>
                            <th>Сумма</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var payment in Model.Payments)
                        {
                            <tr>
                                <td>
                                    <p>@payment.UserID</p>
                                </td>
                                <td>@payment.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>@(payment.Product.Amount.ToString() + "₽")</td>
                                @{
                                    switch (payment.PaymentStatus)
                                    {
                                        case "pending":
                                            <td><span class="status pending">Ожидание</span></td>
                                            break;  
                                        case "successfull":
                                            <td><span class="status completed">Успешно</span></td>
                                            break;
                                        default:
                                            <td><span class="status danger">Отмена</span></td>
                                            break;
                                    }
                                }
                               
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            <div class="reminders">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-revision'></i>
                        <h3>Последние прохождения</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Дата и время</th>
                                <th>Счёт</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var log in Model.log_Gameovers.Take(3).ToList())
                                {
                                    <tr>
                                        <td>
                                            <p>@log.user_id</p>
                                        </td>
                                        <td>@log.Date.ToString("dd.MM.yyyy HH:mm")</td>
                                        <td><span class="status info">@log.score</span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- End of Reminders-->

        </div>

    </main>


