@using WebAppForGame.Data
@using DevExtreme.AspNet.Mvc;
@model List<Products>
@{
    ViewData["Title"] = "Главная";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppForGame.styles.css" asp-append-version="true" />

</head>
<div id="page-wrapper">
    <div class="container">
        <section id="pricing" style="overflow: auto">
            @foreach (var product in Model)
            {
                <div class="product" id="tenor">
                    <div class="level">@product.Name</div>
                    <h2>@product.Amount</h2>
                    <p>@product.Description</p>
                    <button btn btn-pay id="@product.Id" onclick="clickbtn(this.id)">Выбрать</button>
                </div>
            }
        </section>
    </div>
</div>
<footer class="border-top">
    <div style="text-align: center">
        <h5>
            <img src="/files/payment system logos.png" />
            <a href="https://paymaster.ru" target="_blank">
                <img src="/img/logo-paymaster-white-transformed.png" alt="PayMaster">
            </a>
        </h5>
    </div>

</footer>
<script type="text/javascript">
    function clickbtn(clicked_id) {
        var params = new URLSearchParams({ userID: '@ViewBag.UserId', productID: clicked_id });

        fetch('/api/MainApi/CreatePayment?' + params)
            .then(function (response) {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            })
            .then(function (data) {
                window.location.href = data;
            })
            .catch(function (error) {
                console.log('Error:', error.message);
            });
    }
</script>
<style>
    button[btn-pay] {
        display: inline-block;
        padding: 18px 24px;
        border-radius: 8px;
        background-color: #d9c404;
        font-size: 18px;
        font-family: "Lato", "Arial", sans-serif;
        line-height: 18px;
        outline: none;
        border: none;
        font-weight: bold;
    }

        button[btn-pay]:hover {
            opacity: 0.9;
            cursor: pointer;
        }
</style>